<% new_debate = Debate.new 
   new_debate.proposition = "Start a new debate" %>
<%= form_for new_debate do |f| %>
  <% if new_debate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(new_debate.errors.count, "error") %> prohibited this debate from being saved:</h2>

      <ul>
      <% new_debate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <table>
      <tr>
	<td>
	  <%= f.text_field :proposition,
	                   :onfocus => "if (this.getValue() === '" + new_debate.proposition + "'){this.clear();}"%><%= f.submit %>
	</td>
      </tr>
    </table>
  </div>
<% end %>
