<h1>Listing debates</h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @debates.each do |debate| %>
  <tr>
    <td><%= debate.title %></td>
    <td><%= link_to 'Show', debate %></td>
    <td><%= link_to 'Edit', edit_debate_path(debate) %></td>
    <td><%= link_to 'Destroy', debate, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Debate', new_debate_path %>
