<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @debate.title %>
</p>

<div id="main">
  <div id="left">
    <p>
      Supporting Points:
    </p>
    <%= render :partial => "supports/support", :collection => @debate.supports %>
    
    <p>
      Support this point:
    </p>
    <%= form_for([@debate, @debate.supports.build]) do |f| %>
    <div class="field">
      <%= f.text_area :body %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
    <% end %>
  </div>

  <div id="right">
    <p>
      Contesting Points:
    </p>
    <%= render :partial => "contests/contest", :collection => @debate.contests %>
    
    <p>
      Contest this point:
    </p>
    <%= form_for([@debate, @debate.contests.build]) do |f| %>
    <div class="field">
      <%= f.text_area :body %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
    <% end %>
  </div>
</div>


<%= link_to 'Edit', edit_debate_path(@debate) %>
<%= link_to 'Back', debates_path %>
