<p id="notice"><%= notice %></p>

<p>
  <b>Proposition:</b>
  <%= @debate.proposition %>
</p>

<h2>Supporting Points</h2>
<% @debate.responses.each do |response| %>
  <p>
    <%= response.body %>
  </p>
<% end %>


<h2>Support this proposition:</h2>
<%= form_for([@debate, @debate.responses.build]) do |f| %>
  <div class="field">
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Edit Proposition', edit_debate_path(@debate) %> |
<%= link_to 'Back to all debates', debates_path %>
