<p id="notice"><%= notice %></p>

<p>
  <h1>Proposition:</h1>
  <%= @debate.proposition %>
</p>

<div id="points">
  <div id="supporting">
    <p>
      <b>Supporting Points</b>
    </p>
    <%= render :partial => "responses/response", :collection => @debate.responses %>
    
    <p>
      <b>Support this proposition:</b>
    </p>
    <%= render "responses/form" %>
  </div>

  <div id="refuting">
    <p>
      <b>Refuting Points</b>
    </p>
    <%= render :partial => "responses/response", :collection => @debate.responses %>

    <p>
      <b>Refute this proposition:</b>
    </p>
    <%= render "responses/form" %>
  </div>
</div>
  

<div id="footer">
  <%= link_to 'Edit Proposition', edit_debate_path(@debate) %> |
  <%= link_to 'Back to all debates', debates_path %> | 
  <%= link_to 'Delete this debate', @debate, :method => :delete %>
</div>
