<div id="wrap">
  <p id="notice">
    <%= notice %>
  </p>
  <%= render :partial => "debates/parent_chain", :locals => { :debate => @debate } %>
  
  <div id="leafs">
    <div class="left"> 
      <div class="leftPoints">
	<b>&lt;&lt;&lt;--- Supporting Points</b>
	<%= render :partial => "points", 
                   :locals => { :points_to_render => @debate.supporting_points,
                                :is_supporting => true,
                                :direction => :left } %>
      </div>
    </div>
    
    <div class="right">
      <div class="rightPoints">
	<b>Contesting Points ---&gt;&gt;&gt;</b>
	<%= render :partial => "points", 
	           :locals => { :points_to_render => @debate.contesting_points,
	                        :is_supporting => false,
                                :direction => :right} %>
      </div>
    </div>
  </div>
  
  <div id="footer">
    <%= link_to 'Home', debates_path %> |  
    <%= link_to 'Delete', @debate, :method => :delete %>
  </div>
</div>
