<p id="notice"><%= notice %></p>

<p>
  <b>Proposition:</b>
  <%= @debate.proposition %>
</p>

<h2>Supporting Points</h2>
<%= render :partial => "responses/response", :collection => @debate.responses %>


<h2>Support this proposition:</h2>
<%= render "responses/form" %>

<%= link_to 'Edit Proposition', edit_debate_path(@debate) %> |
<%= link_to 'Back to all debates', debates_path %> | 
<%= link_to 'Delete this debate', @debate, :method => :delete %>
