<p id="notice"><%= notice %></p>

<div id="wrap">
  <%= render :partial => "debates/parent_chain", :locals => { :debate => @debate } %>

  <div class="left">
    <p>
      <b>Supporting Points:</b>
      <%= render :partial => "points", 
                 :collection => @debate.debates.find_all{|debate| debate.is_supporting == true}, 
                 :as => :point %>
    </p>

    <p>
      <b>Add a supporting point:</b>
      <%= render :partial => "response_form", :locals => { :is_supporting => true } %> 
    </p>
  </div>

  <div class="right">
    <p>
      <b>Contesting Points:</b>
      <%= render :partial => "points", 
                 :collection => @debate.debates.find_all{|debate| debate.is_supporting == false}, 
                 :as => :point %>
    </p>

    <p>
      <b>Add a contesting point:</b>
      <%= render :partial => "response_form", :locals => { :is_supporting => false } %>
    </p>
  </div>
  
  <div id="footer">
    <%= link_to 'Edit', edit_debate_path(@debate) %> |
    <%= link_to 'Back', debates_path %>
  </div>
</div>
