<p id="notice"><%= notice %></p>

<%= render :partial => "debates/showtitle", :locals => {:debate => @debate} %>

<div id="main">
  <div id="left">
    <p>
      Supporting Points:
    </p>
    <%= render :partial => "supports/support", :collection => @debate.supports %>
    
    <%= render "supports/form" %>
  </div>

  <div id="right">
    <p>
      Contesting Points:
    </p>
    <%= render :partial => "contests/contest", :collection => @debate.contests %>
    
    <%= render "contests/form" %>
  </div>
</div>

<div id="footer">
  <%= link_to 'Edit', edit_debate_path(@debate) %>
  <%= link_to 'Back', debates_path %>
</div>
