<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @debate.title %>
</p>

<p>
  Supporting Points:
</p>
<% @debate.supports.each do |support| %>
<p>
  <%= support.body %>
</p>
<% end %>

<p>
  Support this point:
</p>
<%= form_for([@debate, @debate.supports.build]) do |f| %>
<div class="field">
  <%= f.text_area :body %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>

<p>
  Contesting Points:
</p>
<% @debate.contests.each do |contest| %>
<p>
  <%= contest.body %>
</p>
<% end %>

<p>
  Contest this point:
</p>
<%= form_for([@debate, @debate.contests.build]) do |f| %>
<div class="field">
  <%= f.text_area :body %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>


<%= link_to 'Edit', edit_debate_path(@debate) %>
<%= link_to 'Back', debates_path %>
